<div class="container">
  <h1>Cadastro de músicas</h1>
  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input type="text" class="form-control" id="name" placeholder="Digite o nome da música">
  </div>
  <div class="mb-3">
    <label for="autor" class="form-label">autor</label>
    <input type="text" class="form-control" id="autor" placeholder="Digite o nome do autor">
  </div>
  <div class="mb-3">
    <label for="genero" class="form-label">Genero</label>
    <input type="text" class="form-control" id="genero" placeholder="Digite o genero">
  </div>
  <div class="mb-3">
    <label for="ano" class="form-label">Ano</label>
    <input type="number" class="form-control" id="ano" placeholder="Digite o ano">
  </div>
</div>
